<div class="container mt-3 content has-text-centered">
    <div class="columns">
        <div class="column">
            <%= image_tag 'nasa-logo-web-rgb.png', class: 'is-rounded'%>
        </div>
    </div>

    <div class="columns has-text-justified mb-4 ">
        <div class="column is-flex is-align-items-center is-flex-direction-column">
            <h1>Try out NASA API Now!!!</h1>
            <ul>
                <li><%= link_to '[API] NEO', near_asteroids_path%></li>
                <li><%= link_to '[API] Tech Transfer', tech_transfer_index_path %></li>
                <li><%= link_to '[API] Astronomy', astronomy_index_path  %></li>
            </ul>
        </div>
        
    </div>
</div>

