<h1>Nasa API</h1>

<ul>
    <li><%= link_to 'NEO', near_asteroids_path%></li>
    <li><%= link_to 'Tech Transfer', tech_transfer_index_path %></li>
    <li><%= link_to 'Astronomy', astronomy_index_path  %></li>
</ul>

